<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', 'firalp');

/** MySQL database username */
define('DB_USER', 'firalp');

/** MySQL database password */
define('DB_PASSWORD', '4luvgoPXTEy3So0B');

/** MySQL hostname */
define('DB_HOST', 'bdd01.vlan');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8mb4');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         ')d1$-h/,Q`*63w6tt4M/y9-:%a09s&]J#,EwaoJ.6AuAp0Gt~iU;WttOHy-BRh,|');
define('SECURE_AUTH_KEY',  'jNOE]>D?{wz9Og;oa2]EZ0X~,tPVt?BHcmMyvNUEK^]i&lt;@i&lt;+l858:qyVp+Pi:I9');
define('LOGGED_IN_KEY',    '#Ryg[oV3E22#k?E&amp;hVneTSmzApLt-RYL`!?DT,^n%W,#DbO$fpGQ2Wz({hrXwrgW');
define('NONCE_KEY',        ' JSq([jUz%$MQ|1GR&amp;4_*.?+]0I!cnCB]:Rxy$Rj0W}L&amp;k1#fnr2h|Q7s%EW`8@{');
define('AUTH_SALT',        ';tugEOqnyW@pr^G [w|l`Ed`i&amp;YI*xCkX**L[c1O%)] {s%#3r^*_?]dY~XzXy,G');
define('SECURE_AUTH_SALT', 'aj;&gt;0P^F&amp;YWHm$Gb`H^_6Jpt[J /6qfg%rl6e8`z 4pY^&lt;cMq F~O&amp;j.nK}v1Ycc');
define('LOGGED_IN_SALT',   'M6`{Odn}2^hJX+rn#P8yq~&lt;HI~OeE]|8jpRLRXQJoEa,ye3 $Bkf*rGOm_z!0-[w');
define('NONCE_SALT',       '/_#Mt_-2YGAwA~g3jpd}%?Hvn`xoRBUSyABL^1^0TOX/&lt;~%:xB6 .Ccl+9Ha9ZJ;');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'kai_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', true);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
